adium-theme-ubuntu==0.3.4
decorator==4.0.6
h5py==2.7.0
ipython==2.4.1
numpy==1.12.1
olefile==0.44
pexpect==4.0.1
Pillow==4.0.0
ptyprocess==0.5
pycurl==7.43.0
pygame==1.9.3
pygobject==3.20.0
python-apt==1.1.0b1
PyYAML==3.12
simplegeneric==0.8.1
six==1.10.0
torch==0.1.11.post5
torchvision==0.1.8
unity-lens-photos==1.0
